## <center style="color:green;">Pearl Kuuridong</center>
#### <center style="color:orange;">Daily Python Report</center>

### Functions

Two kinds of functions exist in Python:
1. Built-in functions
2. User-defined functions

In [9]:
def print_multiples_of_eight():
    """This function prints the first 20 multiples of 8"""
    for i in range(1,21):
        print(f"8 x {i:<2} = {(8*i):<2}")

In [10]:
print_multiples_of_eight()

8 x 1  = 8
8 x 2  = 16
8 x 3  = 24
8 x 4  = 32
8 x 5  = 40
8 x 6  = 48
8 x 7  = 56
8 x 8  = 64
8 x 9  = 72
8 x 10 = 80
8 x 11 = 88
8 x 12 = 96
8 x 13 = 104
8 x 14 = 112
8 x 15 = 120
8 x 16 = 128
8 x 17 = 136
8 x 18 = 144
8 x 19 = 152
8 x 20 = 160

In [20]:
def multiplication_table_for(n):
    """
    This function prints the multiplication table for the first 20 multiples of n.
    This implementation is with a for loop.
    Input: integer (n).
    Output: Prints the first 20 multiples of n.
    """
    print(f'This is the multiplication table for {n}')
    print('='*50)
    for i in range(1, 21):
        value = n*i
        print(f"{n} x {i:<2} = {value}")
    print('='*50)

In [21]:
multiplication_table_for(5)

This is the multiplication table for 5
==================================================
5 x 1  = 5
5 x 2  = 10
5 x 3  = 15
5 x 4  = 20
5 x 5  = 25
5 x 6  = 30
5 x 7  = 35
5 x 8  = 40
5 x 9  = 45
5 x 10 = 50
5 x 11 = 55
5 x 12 = 60
5 x 13 = 65
5 x 14 = 70
5 x 15 = 75
5 x 16 = 80
5 x 17 = 85
5 x 18 = 90
5 x 19 = 95
5 x 20 = 100
==================================================

In [24]:
def multiplication_table_while(n):
    """
    This function prints the multiplication table for the first 20 multiples of n.
    This implementation is with a while loop.
    Input: integer (n).
    Output: Prints the first 20 multiples of n.
    """

    i = 1
    print(f'This is the multiplication table for {n}')
    print('='*50)
    while i<=20:
        value = n*i
        print(f"{n} x {i:<2} = {value}")
        i += 1
    print('='*50)

In [25]:
multiplication_table_while(5)

This is the multiplication table for 5
==================================================
5 x 1  = 5
5 x 2  = 10
5 x 3  = 15
5 x 4  = 20
5 x 5  = 25
5 x 6  = 30
5 x 7  = 35
5 x 8  = 40
5 x 9  = 45
5 x 10 = 50
5 x 11 = 55
5 x 12 = 60
5 x 13 = 65
5 x 14 = 70
5 x 15 = 75
5 x 16 = 80
5 x 17 = 85
5 x 18 = 90
5 x 19 = 95
5 x 20 = 100
==================================================

In [26]:
def my_sum(a,b):
    return a+b

In [28]:
my_list = range(10)
for i in my_list:
    for j in my_list:
        if i!=j:
            print(my_sum(i,j))

1
2
3
4
5
6
7
8
9
1
3
4
5
6
7
8
9
10
2
3
5
6
7
8
9
10
11
3
4
5
7
8
9
10
11
12
4
5
6
7
9
10
11
12
13
5
6
7
8
9
11
12
13
14
6
7
8
9
10
11
13
14
15
7
8
9
10
11
12
13
15
16
8
9
10
11
12
13
14
15
17
9
10
11
12
13
14
15
16
17

In [ ]:
my_func = lambda x: x